/* You can add global styles to this file, and also import other style files */

body::-webkit-scrollbar{

    width: 10px;
    border-radius: 4px;
    background-color: #8c8884;
    
    
}

body::-webkit-scrollbar-thumb{

    border-radius: 4px;
    background-color: #ebc798;
    
}