.navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: rgb(243, 230, 213)  !important;
    border-radius: 7px;
    font-size: 1.2rem;
    margin-bottom: 1% ;

}

#logo{
    filter: multiply();
    height: 6VH;
}

