
<section id="productos" class="estandar">
        
    <!--<div id="cont">
        <div class="circulo c4"></div> 
        <div class="circulo c5"></div>
    </div>-->

    <h1 id="titulo1">Algunos de nuestros productos</h1>

    <div id="visor">
        <div class="card"  id="card1">
            <img src="/postres/flan.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary card-inicio">Go somewhere</a>
            </div>
        </div>

        <div class="card"  id="card2">
            <img src="/postres/postre-leche.jpg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary card-inicio">Go somewhere</a>
            </div>
        </div>

        <div class="card"id="card3">
            <img src="/postres/postre-limon2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary card-inicio">Go somewhere</a>
            </div>
        </div>

        <div class="card"  id="card4">
            <img src="postres\tarta-frambuesa.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary card-inicio">Go somewhere</a>
            </div>
        </div>

        <div class="card"  id="card5">
            <img src="postres\tarta-frutos-rojos.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary card-inicio">Go somewhere</a>
            </div>
        </div>

    </div>

    


</section><!--finde productos estandar-->