
/* estandar secciones*/
section{
    height: 60vh;
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 2% 1.1% 0% 1.1%;
}

/* diseño seccion bienvenida*/
#cupcakes{
    border-radius: 50%;
    height: 60vh;
    z-index: 1;
    margin-left: 7%;
}

.circulo{
    border-radius: 50%;
}

.circulo.c1{
    z-index: 1;
    position: absolute;
    margin-left: 5%;
    background-color: orange;
    width: 20vh;
    height: 20vh;
}
.circulo.c2{
    z-index: -1;
    position:absolute;
    background-color: antiquewhite;
    margin-left: 10%;
    height: 60vh !important;
    width: 60vh !important;
    transition: 1.5s ease;
}

.circulo.c3{
    z-index: -2;
    position: absolute;
    margin-left: 30%;
    margin-top: 10% ;
    background-color: rgb(130, 141, 159);
    height: 40vh !important;
    width: 40vh !important;
}

#titulo{
    
    width: 0;
    height: 0;
    border-left: 50vh solid transparent;/*inclinacion del contenedor*/
    border-right: 70vh solid  rgb(243, 230, 213) ; /* establece la ancho*/
    border-bottom: 60vh solid rgb(243, 230, 213);/* establece la altura*/
    float: right;
    transform: scaleY(-1);
    
}

/* estilo secciones*/

#cont{
    width: 100%;
}

#titulo1{
    width: 100%;
}

#productos{
    background-color: #f3e6d5 ;
    border-radius: 40px;
    text-align: center;
    overflow: auto;
    padding-top: 2%;
}

#visor{
    display: flex;
    background-color: azure;
    margin-left: 7%;
    width: 86%;
    height: 40vh;
    justify-content: center;
}

/*cartas de bootrap*/

.card{
    margin-left: 1%;
}

/*seccion de nosotros*/

.circulo.c6{
    width: 7.4vh;
    height: 7.4vh;
    margin: 2% 0% 0% 4%;
    background-color: rgb(248, 225, 182);
    position: absolute;
    z-index: 1;
}
.circulo.c7{
    width: 18.2vh;
    height: 18.2vh;
    margin: 15% 0% 0% 75%;
    background-color: rgb(75, 79, 116);
    position: absolute;
    z-index: 1;
}
.circulo.c8{
    width: 18.2vh;
    height: 18.2vh;
    margin: 4% 0% 0% 85%;
    background-color: rgb(75, 59, 32);
    position: absolute;
    z-index: 1;
}
.circulo.c9{
    width: 7.4vh;
    height: 7.4vh;
    margin: 4% 0% 0% 12%;
    background-color: rgb(151, 184, 255);
    position: absolute;
    z-index: 5;
}
.circulo.c10{
    width: 31.9vh;
    height: 31.9vh;
    margin: 15% 0% 0% 12%;
    background-color: rgb(255, 237, 155);
    position: absolute;
    z-index: 3;
}
.circulo.c11{
    width: 36.4vh;
    height: 36.4vh;
    margin: 10% 0% 0% 0%;
    background-color: rgb(255, 201, 101);
    position: absolute;
    z-index: 4;
}

#nosotros{
    background: linear-gradient(30deg, transparent,#f9f5d36e,transparent, transparent);
    text-align: center;
    overflow: hidden;
}

#texto{
    width: 60%;
    margin: auto;
    margin-top: 7% !important;
}