
<main>

    <section id="bienvenida">

        <div class="circulo c1"></div>
        <div class="circulo c2"></div>
        <div class="circulo c3"></div>
        <img src="cupcakes.jpg" alt="" id="cupcakes">
    
    
        <div id="titulo">
            <h1></h1>
        </div>
         
    </section><!--seccion bienvenida-->
    
    
    
    <section id="productos" class="estandar">
        
        <!--<div id="cont">
            <div class="circulo c4"></div> 
            <div class="circulo c5"></div>
        </div>-->
    
        <h1 id="titulo1">Algunos de nuestros productos</h1>

        <div id="visor">
            <div class="card" style="width: 18rem;" id="card1">
                <img src="/postres/flan.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary card-inicio">Go somewhere</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;" id="card2">
                <img src="/postres/postre-leche.jpg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary card-inicio">Go somewhere</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;"id="card3">
                <img src="/postres/postre-limon2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary card-inicio">Go somewhere</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;" id="card4">
                <img src="postres\tarta-frambuesa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary card-inicio">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;" id="card5">
                <img src="postres\tarta-frutos-rojos.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary card-inicio">Go somewhere</a>
                </div>
            </div>

        </div>

        
    
    
    </section><!--finde productos estandar-->
    
    <section id="nosotros" class="estandar">
    
        <div class="circulo c6"></div>
        <div class="circulo c7"></div>
        <div class="circulo c8"></div>
        <div class="circulo c9"></div>
        <div class="circulo c10"></div>
        <div class="circulo c11"></div>
    
        <article id="texto">
            <h1>Lorem ipsum</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </article>
        
    </section>
    
    <section id="ubicados" class="estandar"></section>

</main>
