
/* estandar secciones*/
section{
    min-height: 60vh;
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 2% 1.1% 0% 1.1%;
}

/* diseño seccion bienvenida*/
#cupcakes{
    border-radius: 50%;
    height: 60vh;
    z-index: 1;
    margin-left: 7%;
}

.circulo{
    border-radius: 50%;
}

.circulo.c1{
    z-index: 1;
    position: absolute;
    margin-left: 5%;
    background-color: orange;
    width: 20vh;
    height: 20vh;
}
.circulo.c2{
    z-index: -1;
    position:absolute;
    background-color: antiquewhite;
    margin-left: 10%;
    height: 60vh !important;
    width: 60vh !important;
    transition: 1.5s ease;
}

.circulo.c3{
    z-index: -2;
    position: absolute;
    margin-left: 30%;
    margin-top: 10% ;
    background-color: rgb(130, 141, 159);
    height: 40vh !important;
    width: 40vh !important;
}

#titulo{
    
    width: 0;
    height: 0;
    border-left: 50vh solid transparent;/*inclinacion del contenedor*/
    border-right: 70vh solid  rgb(243, 230, 213) ; /* establece la ancho*/
    border-bottom: 60vh solid rgb(243, 230, 213);/* establece la altura*/
    float: right;
    transform: scaleY(-1);
    
}

/* estilo secciones*/

#cont{
    width: 100%;
}

#titulo1{
    width: 100%;
}

#productos{
    background-color: #f3e6d5 ;
    max-height: 90vh;
    border-radius: 40px;
    text-align: center;
    overflow: auto;
    padding-top: 2%;
}

#visor{
    display: flex;
    margin-left: 7%;
    width: 86%;
    max-height: 80vh;
    justify-content: center;
}


/*cartas de bootrap*/

.card{
    width: 20% !important;
    min-height: 40vh;
    max-height: 80vh;
    margin-left: 1%;
    margin-bottom: 3%;
    transition: 1s;
    cursor: pointer;
    z-index: 1;


}

.card:hover{
    transform: scale(1.1) !important;
    z-index: 2;
}

.card-inicio{
    margin: 0% 0% 30% 0%;
}

.card-img-top{

    width: 100%;
    height: 17vh;
}

/*seccion de nosotros*/

.circulo.c6{
    width: 7.4vh;
    height: 7.4vh;
    margin: 2% 0% 0% 4%;
    background-color: rgb(248, 225, 182);
    position: absolute;
    z-index: 1;
}
.circulo.c7{
    width: 18.2vh;
    height: 18.2vh;
    margin: 15% 0% 0% 75%;
    background-color: rgb(75, 79, 116);
    position: absolute;
    z-index: 1;
}
.circulo.c8{
    width: 18.2vh;
    height: 18.2vh;
    margin: 4% 0% 0% 85%;
    background-color: rgb(75, 59, 32);
    position: absolute;
    z-index: 1;
}
.circulo.c9{
    width: 7.4vh;
    height: 7.4vh;
    margin: 4% 0% 0% 12%;
    background-color: rgb(151, 184, 255);
    position: absolute;
    z-index: 5;
}
.circulo.c10{
    width: 31.9vh;
    height: 31.9vh;
    margin: 15% 0% 0% 12%;
    background-color: rgb(255, 237, 155);
    position: absolute;
    z-index: 3;
}
.circulo.c11{
    width: 36.4vh;
    height: 36.4vh;
    margin: 10% 0% 0% 0%;
    background-color: rgb(255, 201, 101);
    position: absolute;
    z-index: 4;
}

.ani{

    animation: float 3s ease-in-out infinite;
}


#nosotros{
    background: linear-gradient(30deg, transparent,#f9f5d36e,transparent, transparent);
    text-align: center;
    overflow: hidden;
}

#texto{
    width: 60%;
    margin: auto;
    margin-top: 4.5% !important;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2vh);
    }

    100% {
        transform: translateY(0);
    }
}



/*seccion de ubicanos*/

#ubicados{
    padding-top: 3%;
}

#pastel{
  width: 30%;
  height: auto;
  margin-left: 3%;
  animation-duration: 1s ;
  animation-name: slide;
  /*lo que permite realizar la animacion al hacer scroll*/
  view-timeline-name: --imagen;
  view-timeline-axis: block;
  animation-timeline: --imagen;
}

.cont-cereza{
    display:flex ;
    padding-left: 20%;
    width: 100%;
    z-index: 1;
}

.cereza{

    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: rgb(212, 55, 55);
    z-index: 1;

}

.crema-adorno{
    border-top: 3vh dotted rgb(212, 164, 100);
    height: 3vh;
    width: 29.4%;
    margin-top: 5.5vh;
    z-index: 2;
    position: absolute;
}

.crema{
    height: 3vh;
    width: 29.4%;
    background-color: antiquewhite;
    z-index: 3;
    position: absolute;
    margin-top: 7vh;

}

.ponque{
    background-color: rgb(247, 183, 63);
    height: 30vh;
    display: grid;
    padding-top: 3% ;
    padding-left: 6%;

    border-left: 2vh solid  antiquewhite;
}

.vainilla{
    background-color: antiquewhite;
    height: 6vh;
}

@keyframes slide{ 
    
  from{
    margin-left: -30%;
    width: 30%;
  }

  to {
    margin-left: 15%;
    width: 30%;
  }

}
